GROQ_API_KEY=
GROQ_MODEL=
ANALYZING_MODEL=
OLLAMA_MODEL=



DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=
LLM_PROVIDER=
GROQ_API_KEY=
GROQ_MODEL=
ANALYZING_MODEL=
GROQ_MODEL=
ANALYZING_MODEL=